
* {
  box-sizing: border-box;
}

body {
  font-family: 'Livvic', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.header-section {
  background-image: url("../images/corner.svg");
  background-repeat: no-repeat;
  background-position: bottom ;
  background-position-x: 930px;
  background-color: #014E56;
  padding: 73px 0 185px ;
}

.container {
  max-width: 1400px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header {
  display: flex;
  justify-content: space-around;
}

.header-content {
  display: flex;
  margin-left: -100px;
}

.header-logo {
  width: 160px;
  height: 40px;
}

.header-list {
  display: flex;
  margin-top: 10px;
  list-style-type: none;
}

.header-link {
  margin-left: 40px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
}

.header-link:hover {
  color: #f67e7e;
}

.header-link-right {
  width: 153px;
  height: 48px;
  margin-right: -70px;
  padding: 9px 28px 3px;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 44px;
  background-color: #014E56;
  color: #fff;
}

.header-link-right:hover {
  color: #000;
  background-color: #fff;
}

.hamburger-button {
  display: none;
  border: none;
  background-color: transparent;
}

.hamburger-img {
  display: block;
  width: 20px;
  height: 17px;
}

.header-bottom {
  background-image: url("../images/talenttop.png");
  background-repeat: no-repeat;
  background-position-y: 160px;
  /* background-position: left; */
  display: flex;
  padding-top: 100px;
  justify-content: space-around;
  align-items: center;
}

.header-bottom-heading {
  margin-left: 80px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
}

.header-bottom-heading-span {
  color: #f67e7e;
}

.header-bottom-content {
  width: 445px;
  margin-top: 10px;
}

.header-bottom-content::before {
  content: "";
  display: inline-block;
  margin-bottom: 79px;
  width: 50px;
  height: 4px;
  background-color: #79c8c7;
}

.header-bottom-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

/* build-manage-section-corps */

.build-manage-section {
  background-image: url(../images/teambg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 120px 55px 100px 5px;
  background-color: #012F34;
}


.distributed {
  display: flex;
  justify-content: space-evenly;
}

.distributed-heading {
  width: 445px;
  margin: 0%;
  margin-top: 50px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.distributed-heading::before {
  content: "";
  display: block;
  margin-bottom: 54px;
  width: 50px;
  height: 4px;
  background-color: #f67e7e;
}

.distributed-content {
  display: flex;
  flex-direction: column;
  width: 565px;
}

.distributed-list {
  width: 600px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}


.distributed-item {
  display: flex;
  margin-bottom: 32px;
}

.distributed-item::before{
  margin-right: 33px;
  display: inline-block;
  width: 192px;
  height: 92px;
  background-image: "";
  content: "";
}

.distributed-item:nth-child(1)::before {
  background-image: url(../images/homebg.png);
  background-repeat: no-repeat;
  background-position-y: 10px;
  background-position-x: 36px;
}

.distributed-item:nth-child(2)::before {
  background-image: url(../images/homebg2.png);
  background-repeat: no-repeat;
  background-position-y: 10px;
  background-position-x: 36px;
}

.distributed-item:nth-child(3)::before {
  background-image: url(../images/homebg3.png);
  background-repeat: no-repeat;
  background-position-y: 10px;
  background-position-x: 36px;
}

.distributed-title {  
  margin: 0;
  margin-bottom: 16px;
  line-height: 28px;
  font-weight: 700;
  color: #f67e7e;
}

.distributed-text {
  margin: 0;
  opacity: 0.8;
  font-size: 15px;
}

/* success-stories-section */
/* stories-corps */

.success-stories {
  display: flex;
  padding: 140px 0 160px;
  background-image: url(../images/Group1.png), url(../images/Group2.png);
  background-repeat: no-repeat;
  background-position: left top,  bottom right;
  background-color: #004047;
}

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stories-heading {
  width: 932px;
  margin: 0;
  margin-bottom: 92px;
  margin-left: 100px;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.stories-heading-span {
  color: #79c8c7;
}

.stories-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.stories-item {
  margin: 0px;
  padding: 0;
  text-align: center;
  width: 450px;
}

.stories-item::before {
  content: "";
  margin-bottom: -40px;
  margin-left: 170px;
  background-image: "";
  display: block;
  width: 72px;
  height: 72px;
}

.stories-item::before {
  background-image: url(../images/result.png);
  background-repeat: no-repeat;
  background-position: center;
}

.stories-item:nth-child(2)::before {
  margin-bottom: -30px;
}

.stories-item:nth-child(2) {
  margin-top: 14px;
}

.stories-text {
  font-size: 15px;
}

.stories-name {
  line-height: 28px;
  text-align: center;
  color: #79c8c7;
}

.stories-name-span {
  font-style: italic;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
}

.stories-img {
  width: 62px;
  height: 62px;
}

/* footer-section */
/* ready-corps */

.footer-top {
  background-color: #f67e7e;
}

.ready-start {
  display: flex;
  padding: 76px 60px 76px;
  justify-content: space-around;
  background-image: url(../images/Group3.png);
  background-repeat: no-repeat;
  background-size: 182px 130px;
  background-position: left bottom;
}

.ready-start-heading {
  margin: 0%;
  font-size: 48px;
  line-height: 48px;
  color: #012f34;
}

.ready-start-link {
  width: 153px;
  height: 48px;
  padding: 9px 28px 3px;
  text-decoration: none;
  border: 2px solid #012F34;
  border-radius: 24px;
  color: #012f34;
}

/* footer-bottom-corps */

.footer-bottom {
  background-color: #002529;
}

.info-site {
  padding: 48px 165px 48px 165px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info-site-content {
  margin-top: 18px;
}

.info-site-content-list {
  margin-top: 25px;
  margin-left: -70px;
  display: flex;
  list-style-type: none;
}

.info-site-content-link {
  margin-left: 30px;
  text-decoration: none;
  color: #fff;
}

.info-site-list {
  margin-left: -250px;
  list-style-type: none;
}

.info-site-item {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
}

.info-site-right-content-list {
  margin-left: 200px;
  margin-bottom: 51px;
  display: flex;
  list-style-type: none;
}

.info-site-right-content-item {
  margin-left: 16px;
}

.info-site-text {
  margin-left: 120px;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
}

/* ABOUT-HTML */
/* HEADER-ABOUT-SECTION */

.header-about-section {
  background-image: url();
  background-color: #014e56;
}

.header-about-section-bottom {
  padding: 165px 241px 165px 176px;
  background-color: #014e56;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about-heading {
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
}

.about-content {
  margin-top: 40px;
  margin-left: 180px;
  max-width: 730px;
}

.about-content::before {
  content: "";
  display: block;
  margin-bottom: 54px;
  width: 50px;
  height: 4px;
  background-color: #f67e7e;
}

.about-text {
  font-size: 18px;
  line-height: 28px;
}

/* MAIN-SECTION */


.main_section{
  background-image: url(../images/tallent-about.png), url(../images/tallent-bottom-about.png);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-color: #004047;
}

.directors {
  padding: 182px 30px 98px 90px;
}

.main_section_heading{
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.main_section_list {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.main_section_item{
  margin-left: 32px;
  margin-bottom: 76px;
  padding: 32px 24px 56px 24px;
  width: 350px;
  height: 281px;
  text-align: center;
  background-color: #012f34;
}

.main_section_item::after {
  content: "";
  display: inline-block;
  width: 56px;
  height: 56px;
  background-image: "";
}

.main_section_item::after {
  margin-top: 10px;
  background-image: url(../images/plus.png);
  background-size: 56px 56px;
}
.main_section_item:nth-child(6):after{
  content: "";
  display: block;
  width: 176px;
  height: 156px;
  background-image: url(..//images/kres.png);
  background-size: 56px 56px;
  background-repeat: no-repeat;
  background-position: 113px 27px;
}

.main_section_heading_little {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #79c8c7;
}

.main_section_paragraph {
  font-style: italic;
  line-height: 25px
}

/* CLIENT-SECTION */ 
.clients-section{
  background-image: url(../images/clients-bg.png);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-color: #012f34;
}

.clients {
  padding: 140px 165px 140px 165px;
}

.clients-heading {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.clients-list {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
  list-style-type: none;
}

.clients-item {
  margin-left: 0px;
}



/* MEDIA */


@media only screen and (max-width: 1150px){ 

  .stories {
    margin-left: 200px;
  }

  .stories-heading {
    max-width: 575px;
  }

  .stories-list {
    flex-direction: column;
  }

  .info-site {
    /* max-width: 600px; */
    flex-direction: column;
  }

  .info-site-list {
    max-width: 500px;
    margin-top: -100px;
    margin-left: 500px;
  }

  .info-site-text {
    margin-top: -100px;
    margin-left: 540px;
  }

  .info-site-right-content-list{
    margin-left: -60px;
  }

  .clients-list {
    max-width: 700px;
    display: flex;
    margin-top: 70px;
    justify-content: space-around;
    list-style-type: none;
  }

  .clients-item {
    margin-left: 20px;
  }
}


@media only screen and (max-width: 1130px) {
  .header-section {
    background-position-x: 380px;
  }

  .header-bottom {
    background-image: none;
    display: flex;
    padding-top: 100px;
    flex-direction: column;
  }

  .header-bottom-heading {
    margin: 0%;
    margin-bottom: 24px;
    text-align: center;
  }

.header-bottom-content::before {
    display: none;
  }

  .header-bottom-content {
    width: 100%;
    max-width: 470px;
    margin-bottom: 150px;
  }

  .header-bottom-text {
    text-align: center;
    font-size: 15px;
  }

  .build-manage-section {
    background-position: top right;
  }

  .distributed {
    margin-left: 100px;
    flex-direction: column;
  }

  .distributed-heading {
    width: 445px;
    margin-bottom: 64px;
    font-size: 32px;
    line-height: 32px;
  }

  .distributed-content {
    margin-left: -40px;
  }
}

@media only screen and (max-width: 1060px) {
  .ready-start-heading {
    margin-bottom: 30px;
  }

  .header-about-section-bottom {
    padding: 112px 45px 112px 45px;
  }

  .about {
    max-width: 800px;
    align-items: center;
    flex-direction: column;
  }
  
  .about-heading {
    margin-left: 190px;
    line-height: 56px;
  }
  
  .about-content::before {
    display: none;
  }
  
  .about-text {
    text-align: center;
  }

}

@media only screen and (max-width: 990px) {
  .info-site-list {
    margin-top: -100px;
    margin-left: 400px;
  }

  .info-site-text {
    margin-top: -100px;
    margin-left: 440px;
  }

  .info-site-right-content-list{
    margin-left: -60px;
  }

  .clients-list {
    max-width: 700px;
    justify-content: center;
  }

  .clients-item {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 950px) {
  .about {
    margin-right: 100px;
    max-width: 700px;
  }

  .clients-heading {
    font-size: 32px;
    line-height: 32px;
  }

  .clients-list {
    max-width: 700px;
    margin-left: -60px;
  }

  .clients-item {
    margin-left: 30px;
  }

.clients-img {
    width: 107px;
    height: 17px;
  }

  .clients-img-end {
    width: 62px;
    height: 28px;
  } 
}


@media only screen and (max-width: 923px) {
  .directors {
    margin-left: 50px;
  }

  .main_section_list {
    margin-left: 100px;
  }
}


@media only screen and (max-width: 890px) {
  .stories {
    margin-left: 60px;
  }

  .info-site-list {
    max-width: 400px;
    margin-top: -100px;
    margin-left: 350px;
  }

  .info-site-text {
    margin-top: -100px;
    margin-left: 390px;
  }

  .info-site-right-content-list{
    margin-left: -60px;
  }
}

@media only screen and (max-width: 850px) {
  .directors {
    margin-left: 10px;
  }

  .main_section_list {
    margin-left: 90px;
  }
}

@media only screen and (max-width: 820px) {
  .header {
   justify-content: space-evenly;
  }

  .header-bottom-heading {
    font-size: 40px;
    line-height: 40px;
  }

  .header-link {
    margin-left: 20px;
  }

  .header-section {
    background-position-x: 250px;
  }

  .distributed {
    margin-left: 60px;
  }

  .info-site-list {
    max-width: 400px;
    margin-top: -100px;
    margin-left: 250px;
  }

  .info-site-text {
    margin-top: -100px;
    margin-left: 290px;
  }

  .info-site-right-content-list{
    margin-left: -60px;
  }
}

@media only screen and (max-width: 780px)
{
  .ready-start {
    align-items: center;
    flex-direction: column;
  }

  .info-site-list {
    max-width: 400px;
    margin-top: -100px;
    margin-left: 210px;
  }

  .info-site-text {
    margin-top: -100px;
    margin-left: 250px;
  }

  .info-site-right-content-list{
    margin-left: -60px;
  }

}

@media only screen and (max-width: 740px) {
 .stories{
  margin-left: -45px;
 } 

 .info-site-content {
  margin-left: -100px;
}

 .info-site-list {
  max-width: 400px;
  margin-top: -100px;
  margin-left: 200px;
}

.info-site-text {
  margin-top: -100px;
  margin-left: 240px;
}

.info-site-right-content-list{
  margin-left: -150px;
}

.directors {
  margin-left: 5px;
}

.main_section_list {
  margin-left: 50px;
}

}

@media only screen and (max-width: 680px) {
.info-site {
  max-width: 520px;
  align-items: center;
  flex-direction: column;
}

.info-site-content {
  margin-left: 0;
}

.info-site-content-list {
  margin-left: -40px;
}

 .info-site-list {
  text-align: center;
  margin-top: 0px;
  margin-left: 0px;
}

.info-site-text {
  margin-top: 0px;
  margin-left: 0px;
}

.info-site-right-content-list{
  margin-left: 40px;
}

.about {
  margin: 0;
  max-width: 500px;
}

.clients-section {
  background-image: url(../images/clients-bg2.png);
  background-size: 200px 100px;
}

}


@media only screen and (max-width: 630px) {
  .header {
    justify-content: space-around;
   }

   .header-logo {
    margin-left: 20px;
   }

   .header-list {
    display: none;
  }

   .header-link {
    display: none;
    margin-left: 10px;
  }

  .header-link-right {
    display: none;
  }

  .hamburger-button {
    display: block;
    margin-left: 130px;
  }

  .header-section {
    background-position-x: 150px;
  }

  .distributed {
    margin-left: 0px;
  }

  .distributed-list {
    max-width: 460px;
  }

  .stories {
    margin-left: 20px;
  }

  .stories-heading {
    max-width: 300px;
  }

  .ready-start { 
    text-align: center;
    max-width: 530px;
  }

  .about {
    margin-left: -90px;
  }

  .directors {
    margin-left: 0px;
  }

  .main_section_list {
    margin-left: 0px;
  }

  .clients {
    padding: 88px 24px 88px 24px;
  }

  .clients-list {
    align-items: center;
    flex-direction: column;
  }

  .clients-item {
    margin-bottom: 0;
    margin-top: 30px;
  }

  .clients-img {
    width: 146px;
    height: 24px;
  }

  .clients-img-end {
    width: 87px;
    height: 40px;
  }
}

@media only screen and (max-width: 560px) {
  .header {
     margin-left: 30px;
   }

   .header-section {
    background-position-x: 100px;
  }

  .distributed-heading {
    align-items: center;
    max-width: 320px;
  }

  .distributed-list {
    width: 100%;
    margin-left: 130px;
    max-width: 300px;
  }

  .distributed-item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .distributed-item:nth-child(1)::before {
    background-position-y: 10px;
    background-position-x: 120px;
  }
  
  .distributed-item:nth-child(2)::before {
    background-position-y: 10px;
    background-position-x: 120px;
  }
  
  .distributed-item:nth-child(3)::before {
    background-position-y: 10px;
    background-position-x: 120px;
  }

  .distributed-heading {
    margin-left: 30px;
    max-width: 220px;
  }

  .about {
    margin-left: -100px;
  }

  .about-heading {
    margin-bottom: -10px;
    font-size: 40px;
    line-height: 40px;
  }

  .directors {
    margin-left: 10px;
  }

  .main_section_heading {
    font-size: 32px;
    line-height: 32px;
  }

  .main_section_list {
    margin-left: -50px;
  }
}

@media only screen and (max-width: 530px) {
  .header-section {
    background-position-x: 80px;
  }

  .header {
    margin-left: 100px;
  }

  .header-bottom {
    width: 100%;
    max-width: 500px;
  }

  .header-bottom-content {
    width: 100%;
    max-width: 310px;
  }

  .distributed {
    max-width: 300px;
    display: flex;
  }

  .distributed-content {
    max-width: 320px;
  }
 
  .distributed-list {
    max-width: 220px;
  }

  .distributed-item:nth-child(1)::before {
    background-position-y: 10px;
    background-position-x: 70px;
  }
  
  .distributed-item:nth-child(2)::before {
    background-position-y: 10px;
    background-position-x: 70px;
  }
  
  .distributed-item:nth-child(3)::before {
    background-position-y: 10px;
    background-position-x: 70px;
  }

  .stories {
    margin-left: -40px;
  }

  .stories-heading {
    margin-left: 35px;
  }

  .stories-item {
    margin-bottom: 50px;
    max-width: 320px;
  }

  .stories-item::before {
    margin-left: 120px;
  }

  .about {
    margin-left: -120px;
  }
}

@media only screen and (max-width: 500px) {
  .info-site {
    max-width: 520px;
    margin-left: -110px;
    flex-direction: column;
  }

  .directors {
    margin-left: -20px;
  }

  .main_section_heading {
    font-size: 32px;
    line-height: 32px;
  }

  .main_section_list {
    margin-left: -50px;
  }

  .main_section_item {
    width: 327px;
    height: 281px;
  }
}

@media only screen and (max-width: 440px) {
  .about { 
    margin-left: -150px;
  }

  .about-text {
    font-size: 15px;
    line-height: 25px;
  }

  .main_section_item:nth-child(6):after{
    background-position: 113px 7px;
  }
}


@media only screen and (max-width: 400px) {
.hamburger-button {
  margin-left: 15px;
}

  .ready-start{
  max-width: 320px;
}

.ready-start-heading {
  margin-bottom: 20px;
}

.ready-start-link {
  margin-bottom: 20px;
}

.about { 
  padding: 160px 24px 58px 24px;
  margin-top: -180px;
  margin-left: -180px;
}

.about-text {
  max-width: 300px;
}

.directors {
  margin-left: -70px;
}

.main_section_heading {
  font-size: 32px;
  line-height: 32px;
}

.main_section_list {
  margin-left: -50px;
}
}

@media only screen and (max-width: 380px) {
  .info-site {
    max-width: 520px;
    margin-left: -50px;
    flex-direction: column;
  }

  .header-logo {
    width: 128px;
    height: 30px;
  }
}

@media only screen and (max-width: 345px) {
  .main_section_item:nth-child(6):after{
    background-position: 85px 7px;
  }

  .clients-heading {
    font-size: 32px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 320px) {
  .header-section {
    width: 100%;
    max-width: 320px;
    background-position-x: 0px;
  }

  .distributed {
    max-width: 300px;
    display: flex;
  }

  .distributed-content {
    margin-left: -100px;
  }

  .info-site {
    max-width: 520px;
    margin-left: -50px;
    flex-direction: column;
  }

  .info-site-list {
    text-align: left;
    margin-top: 0px;
    margin-left: 0px;
  }

  .info-site-item {
    text-align: center;
    font-size: 15px;
    line-height: 15px;
  }
  
  .info-site-text {
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .info-site-right-content-list{
    margin-left: 40px;
  }

}